name: Publish to pub.dev

on: [workflow_dispatch]

jobs:
  publish:
    runs-on: ubuntu-latest
    
    permissions:
      id-token: write  # OIDC required
      contents: read
    
    steps:
      - name: Checkout tag
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.tag }}
      
      - name: Setup Dart
        uses: dart-lang/setup-dart@v1
        with:
          sdk: stable
      
      - name: Install dependencies
        run: dart pub get
      
      - name: Run tests
        run: dart test
      
      - name: Publish to pub.dev
        run: dart pub publish --force
